In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('Expanded_data_with_more_features.csv')
display(df)
#df = filtered_df.dropna()

,Unnamed: 0,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
0,0,female,NaN,bachelor's degree,standard,none,married,regularly,yes,3.0,school_bus,< 5,71,71,74
1,1,female,group C,some college,standard,NaN,married,sometimes,yes,0.0,NaN,5 - 10,69,90,88
2,2,female,group B,master's degree,standard,none,single,sometimes,yes,4.0,school_bus,< 5,87,93,91
3,3,male,group A,associate's degree,free/reduced,none,married,never,no,1.0,NaN,5 - 10,45,56,42
4,4,male,group C,some college,standard,none,married,sometimes,yes,0.0,school_bus,5 - 10,76,78,75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30636,816,female,group D,high school,standard,none,single,sometimes,no,2.0,school_bus,5 - 10,59,61,65
30637,890,male,group E,high school,standard,none,single,regularly,no,1.0,private,5 - 10,58,53,51
30638,911,female,NaN,high school,free/reduced,completed,married,sometimes,no,1.0,private,5 - 10,61,70,67
30639,934,female,group D,associate's degree,standard,completed,married,regularly,no,3.0,school_bus,5 - 10,82,90,93
30640,960,male,group B,some college,standard,none,married,never,no,1.0,school_bus,5 - 10,64,60,58

In [2]:
#1
count_male = df[df['Gender'] == 'male'].shape[0]
count_female = df[df['Gender'] == 'female'].shape[0]

print("Кількість чоловіків у наборі даних:", count_male)
print("Кількість жінок у наборі даних:", count_female)

Кількість чоловіків у наборі даних: 15217
Кількість жінок у наборі даних: 15424

In [3]:
#2
male_count = len(df[df['Gender'] == 'male'])

total_count = len(df)

male_percentage = (male_count / total_count) * 100

print(f"Відсоток студентів чоловічої статі: {male_percentage}%")

Відсоток студентів чоловічої статі: 49.6622172905584%

In [4]:
#3
students_by_gender = df['Gender'].value_counts()

female_percentage = (students_by_gender['female'] / df.shape[0]) * 100

print(f"Відсоток студенток у наборі даних: {female_percentage}%")

Відсоток студенток у наборі даних: 50.337782709441605%

In [5]:
#4
average_math_score_by_ethnicity = df.groupby('EthnicGroup')['MathScore'].mean()

ethnicity_with_highest_average_math_score = average_math_score_by_ethnicity.idxmax()
highest_average_math_score = average_math_score_by_ethnicity.max()

print("Етнічна група з найвищим середнім балом з математики:", ethnicity_with_highest_average_math_score)
print("Найвищий середній бал з математики:", highest_average_math_score)

Етнічна група з найвищим середнім балом з математики: group E
Найвищий середній бал з математики: 75.29893590695373

In [6]:
#5
average_math_score_by_ethnicity = df.groupby('EthnicGroup')['ReadingScore'].mean()

ethnicity_with_highest_average_math_score = average_math_score_by_ethnicity.idxmax()
highest_average_math_score = average_math_score_by_ethnicity.max()

print("Етнічна група з найвищим середнім балом з читання:", ethnicity_with_highest_average_math_score)
print("Найвищий середній бал з читання:", highest_average_math_score)

Етнічна група з найвищим середнім балом з читання: group E
Найвищий середній бал з читання: 74.25142291512002

In [7]:
#6
average_writing_score_by_ethnicity = df.groupby('EthnicGroup')['WritingScore'].mean()

ethnicity_with_highest_average_writing_score = average_writing_score_by_ethnicity.idxmax()
highest_average_writing_score = average_writing_score_by_ethnicity.max()

print("Етнічна група з найвищим середнім балом з письма:", ethnicity_with_highest_average_writing_score)
print("Найвищий середній бал з письма:", highest_average_writing_score)

Етнічна група з найвищим середнім балом з письма: group E
Найвищий середній бал з письма: 72.67706013363029

In [8]:
#7
# Вибір рядків, де курс підготовки до тесту завершено і обчислення середнього балу з математики
average_math_score_test_prep_completed = df[df['TestPrep'] == 'completed']['MathScore'].mean()

print("Середній бал з математики для студентів, які закінчили курс підготовки до тесту:", average_math_score_test_prep_completed)

Середній бал з математики для студентів, які закінчили курс підготовки до тесту: 69.5466599698644

In [9]:
#8
average_score_test_prep_completed = df[df['TestPrep'] == 'completed']['ReadingScore'].mean()

print("Середній бал з читання для студентів, які закінчили курс підготовки до тесту:", average_score_test_prep_completed)

Середній бал з читання для студентів, які закінчили курс підготовки до тесту: 73.73299849321948

In [10]:
#9
average_math_score_test_prep_completed = df[df['TestPrep'] == 'completed']['MathScore'].mean()
average_reading_score_test_prep_completed = df[df['TestPrep'] == 'completed']['ReadingScore'].mean()
average_writing_score_test_prep_completed = df[df['TestPrep'] == 'completed']['WritingScore'].mean()
average_score_test_prep_completed = (average_math_score_test_prep_completed + average_reading_score_test_prep_completed + average_writing_score_test_prep_completed) / 3

print("Середній бал для студентів, які закінчили курс підготовки до тесту:", average_score_test_prep_completed)

Середній бал для студентів, які закінчили курс підготовки до тесту: 72.66097438473129

In [11]:
#10
married_parents = len(df[df['ParentMaritalStatus'] == 'married'])
print(f"Кількість студентів, що мають одружених батьків: {married_parents}")

Кількість студентів, що мають одружених батьків: 16844

In [12]:
#11
single_parents = len(df[df['ParentMaritalStatus'] == 'single'])
print(f"Кількість студентів, що мають батьків-одинаків: {single_parents}")

Кількість студентів, що мають батьків-одинаків: 7097

In [13]:
#12
sport_regulary = df[df['PracticeSport'] == 'regularly']
sport_never = df[df['PracticeSport'] == 'never']

average_math_score_sport_regulary = sport_regulary['MathScore'].mean()
average_math_score_sport_never = sport_never['MathScore'].mean()

print(f"Чи студенти, які регулярно займаються спортом, мають вищі середні результати з математики, ніж ті, хто ніколи не займається спортом?: {average_math_score_sport_regulary > average_math_score_sport_never}")

Чи студенти, які регулярно займаються спортом, мають вищі середні результати з математики, ніж ті, хто ніколи не займається спортом?: True

In [14]:
#13
sport_regulary = df[df['PracticeSport'] == 'regularly']
sport_never = df[df['PracticeSport'] == 'never']

average_read_score_sport_regulary = sport_regulary['ReadingScore'].mean()
average_read_score_sport_never = sport_never['ReadingScore'].mean()

print(f"Чи студенти, які регулярно займаються спортом, мають вищі середні результати з читання, ніж ті, хто ніколи не займається спортом?: {average_read_score_sport_regulary > average_read_score_sport_never}")

Чи студенти, які регулярно займаються спортом, мають вищі середні результати з читання, ніж ті, хто ніколи не займається спортом?: True

In [15]:
#14
by_bus = len(df[df['TransportMeans'] == 'school_bus'])
print(f"Кількість учнів, що користується шкільним автобусом, щоб дістатися до школи: {by_bus}")

Кількість учнів, що користується шкільним автобусом, щоб дістатися до школи: 16145

In [16]:
#15
by_private = len(df[df['TransportMeans'] == 'private'])
print(f"Кількість учнів, що користується приватним транспортом, щоб дістатися до школи: {by_private}")

Кількість учнів, що користується приватним транспортом, щоб дістатися до школи: 11362

In [17]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

df = df.dropna()

X = df[['Gender', 'EthnicGroup', 'ParentEduc', 'LunchType', 'ParentMaritalStatus', 'PracticeSport', 'IsFirstChild', 'NrSiblings', 'TransportMeans', 'WklyStudyHours', 'MathScore', 'ReadingScore', 'WritingScore']]
y = df['TestPrep']

X = pd.get_dummies(X)

X_train, X_test, y_train, y_test = X[:15000], X[15000:], y[:15000], y[15000:]

model = DecisionTreeClassifier(random_state=42)

param_grid = {
    'max_depth': [None, 10, 20],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}

grid_search = GridSearchCV(model, param_grid, cv=5)
grid_search.fit(X_train, y_train)

best_params = grid_search.best_params_
print("Найкращі параметри:", best_params)

best_score = grid_search.best_score_
print("Найкраща точність на навчальному наборі:", best_score)

best_model = grid_search.best_estimator_
predictions = best_model.predict(X_test)
test_accuracy = accuracy_score(y_test, predictions)
print("Точність на тестовому наборі:", test_accuracy)

Найкращі параметри: {'max_depth': 10, 'min_samples_leaf': 4, 'min_samples_split': 10}
Найкраща точність на навчальному наборі: 0.7024
Точність на тестовому наборі: 0.7046900777751591