In [1]:
import numpy as np
import pandas as pd

csv_file_path = 'E:\\anaconda3\\anaconda files\\lab3\\NationalNames.csv'
try:
    df = pd.read_csv(csv_file_path)    
except FileNotFoundError:
    print(f"File not found: {csv_file_path}")
    
display(df.tail(8))

              Id     Name  Year Gender  Count
1825425  1825426       Zo  2014      M      5
1825426  1825427    Zyeir  2014      M      5
1825427  1825428     Zyel  2014      M      5
1825428  1825429   Zykeem  2014      M      5
1825429  1825430   Zymeer  2014      M      5
1825430  1825431  Zymiere  2014      M      5
1825431  1825432    Zyran  2014      M      5
1825432  1825433    Zyrin  2014      M      5